body {
	margin: 60px auto;
	width: 70%;
	background: #2e2e2e;
}
nav ul, footer ul {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: #335a7e;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 3em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	background: #335A7E;
	color: #97d5ff;
	padding: 15px;
}
p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
	padding: 0px 25px 5px 25px;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}

ul.posts { 
	margin: 20px auto 40px; 
	font-size: 1.5em;
	padding: 15px;
}

ul.posts li {
	list-style: none;
	padding: 6px;
}

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background: rgba(255,255,255,0.7);
}

.defaultStyle {
	text-decoration: none;
	color: white;
}

img {
	max-width: 100%;
	width: -moz-available;
}

code {
	font-size: 1.5em;
	line-height: 1.4em;
}

.post-li-format ul li, ol li {
	margin: auto;
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
	padding: 0px 25px 5px 0px;
}

